<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.incometaxcalculator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.netpace.itc.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.netpace.itc.activities.CalculateTax"
            android:label="@string/title_activity_calculate_tax" >
        </activity>
        <activity
            android:name="com.netpace.itc.activities.CalculateImpact"
            android:label="@string/title_activity_calculate_impact" >
        </activity>
        <activity
            android:name="com.netpace.itc.activities.HowToSave"
            android:label="@string/title_activity_how_to_save" >
        </activity>
        <activity
            android:name="com.netpace.itc.activities.PlanToSave"
            android:label="@string/title_activity_plan_to_save" >
        </activity>
    </application>

</manifest>
